ServerApplication/Service References/ClientService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ClientService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/SeanLynch.YearFourProject.ProofOfConcept.WCFPOC" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IComputerData_GetComputerData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetComputerData" />
  </wsdl:message>
  <wsdl:message name="IComputerData_GetComputerData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetComputerDataResponse" />
  </wsdl:message>
  <wsdl:message name="IComputerData_GetComputer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetComputer" />
  </wsdl:message>
  <wsdl:message name="IComputerData_GetComputer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetComputerResponse" />
  </wsdl:message>
  <wsdl:portType name="IComputerData">
    <wsdl:operation name="GetComputerData">
      <wsdl:input wsaw:Action="http://tempuri.org/IComputerData/GetComputerData" message="tns:IComputerData_GetComputerData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComputerData/GetComputerDataResponse" message="tns:IComputerData_GetComputerData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetComputer">
      <wsdl:input wsaw:Action="http://tempuri.org/IComputerData/GetComputer" message="tns:IComputerData_GetComputer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComputerData/GetComputerResponse" message="tns:IComputerData_GetComputer_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IComputerData" type="tns:IComputerData">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetComputerData">
      <soap:operation soapAction="http://tempuri.org/IComputerData/GetComputerData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetComputer">
      <soap:operation soapAction="http://tempuri.org/IComputerData/GetComputer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClientService">
    <wsdl:port name="BasicHttpBinding_IComputerData" binding="tns:BasicHttpBinding_IComputerData">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCFPOC/WCFClientService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>