ServerApplication/Service References/ClientService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ClientService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IComputerData_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/SeanLynch.YearFourProject.ProofOfConcept.WCFPOC" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IComputerData_GetComputerData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetComputerData" />
  </wsdl:message>
  <wsdl:message name="IComputerData_GetComputerData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetComputerDataResponse" />
  </wsdl:message>
  <wsdl:message name="IComputerData_GetComputer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetComputer" />
  </wsdl:message>
  <wsdl:message name="IComputerData_GetComputer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetComputerResponse" />
  </wsdl:message>
  <wsdl:message name="IComputerData_StartProcess_InputMessage">
    <wsdl:part name="parameters" element="tns:StartProcess" />
  </wsdl:message>
  <wsdl:message name="IComputerData_StartProcess_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartProcessResponse" />
  </wsdl:message>
  <wsdl:portType name="IComputerData">
    <wsdl:operation name="GetComputerData">
      <wsdl:input wsaw:Action="http://tempuri.org/IComputerData/GetComputerData" message="tns:IComputerData_GetComputerData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComputerData/GetComputerDataResponse" message="tns:IComputerData_GetComputerData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetComputer">
      <wsdl:input wsaw:Action="http://tempuri.org/IComputerData/GetComputer" message="tns:IComputerData_GetComputer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComputerData/GetComputerResponse" message="tns:IComputerData_GetComputer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartProcess">
      <wsdl:input wsaw:Action="http://tempuri.org/IComputerData/StartProcess" message="tns:IComputerData_StartProcess_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComputerData/StartProcessResponse" message="tns:IComputerData_StartProcess_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IComputerData" type="tns:IComputerData">
    <wsp:PolicyReference URI="#NetTcpBinding_IComputerData_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetComputerData">
      <soap12:operation soapAction="http://tempuri.org/IComputerData/GetComputerData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetComputer">
      <soap12:operation soapAction="http://tempuri.org/IComputerData/GetComputer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartProcess">
      <soap12:operation soapAction="http://tempuri.org/IComputerData/StartProcess" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClientService">
    <wsdl:port name="NetTcpBinding_IComputerData" binding="tns:NetTcpBinding_IComputerData">
      <soap12:address location="net.tcp://localhost:8734/WCFPOC/WCFClientService/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8734/WCFPOC/WCFClientService/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>