HorusServer/Service References/RemoteUserService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ClientSideService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IClientSideService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/HorusShared.ComputerObjects" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClientSideService_GetHostName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHostName" />
  </wsdl:message>
  <wsdl:message name="IClientSideService_GetHostName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHostNameResponse" />
  </wsdl:message>
  <wsdl:message name="IClientSideService_GetComputer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetComputer" />
  </wsdl:message>
  <wsdl:message name="IClientSideService_GetComputer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetComputerResponse" />
  </wsdl:message>
  <wsdl:message name="IClientSideService_Ping_InputMessage">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="IClientSideService_Ping_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="IClientSideService_StartProcess_InputMessage">
    <wsdl:part name="parameters" element="tns:StartProcess" />
  </wsdl:message>
  <wsdl:message name="IClientSideService_StartProcess_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartProcessResponse" />
  </wsdl:message>
  <wsdl:message name="IClientSideService_EndProcess_InputMessage">
    <wsdl:part name="parameters" element="tns:EndProcess" />
  </wsdl:message>
  <wsdl:message name="IClientSideService_EndProcess_OutputMessage">
    <wsdl:part name="parameters" element="tns:EndProcessResponse" />
  </wsdl:message>
  <wsdl:portType name="IClientSideService">
    <wsdl:operation name="GetHostName">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientSideService/GetHostName" message="tns:IClientSideService_GetHostName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientSideService/GetHostNameResponse" message="tns:IClientSideService_GetHostName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetComputer">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientSideService/GetComputer" message="tns:IClientSideService_GetComputer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientSideService/GetComputerResponse" message="tns:IClientSideService_GetComputer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientSideService/Ping" message="tns:IClientSideService_Ping_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientSideService/PingResponse" message="tns:IClientSideService_Ping_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartProcess">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientSideService/StartProcess" message="tns:IClientSideService_StartProcess_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientSideService/StartProcessResponse" message="tns:IClientSideService_StartProcess_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EndProcess">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientSideService/EndProcess" message="tns:IClientSideService_EndProcess_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientSideService/EndProcessResponse" message="tns:IClientSideService_EndProcess_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IClientSideService" type="tns:IClientSideService">
    <wsp:PolicyReference URI="#NetTcpBinding_IClientSideService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetHostName">
      <soap12:operation soapAction="http://tempuri.org/IClientSideService/GetHostName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetComputer">
      <soap12:operation soapAction="http://tempuri.org/IClientSideService/GetComputer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap12:operation soapAction="http://tempuri.org/IClientSideService/Ping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartProcess">
      <soap12:operation soapAction="http://tempuri.org/IClientSideService/StartProcess" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EndProcess">
      <soap12:operation soapAction="http://tempuri.org/IClientSideService/EndProcess" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClientSideService">
    <wsdl:port name="NetTcpBinding_IClientSideService" binding="tns:NetTcpBinding_IClientSideService">
      <soap12:address location="net.tcp://localhost:15000/UserClientService/UserClientService/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:15000/UserClientService/UserClientService/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>