HorusClient/Service References/HorusClientSide/HorusShared.ComputerObjects.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/HorusShared.ComputerObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HorusShared.ComputerObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Computer">
    <xs:sequence>
      <xs:element minOccurs="0" name="CPUID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CPUMan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CPUName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CPUNumLogicalCores" type="xs:int" />
      <xs:element minOccurs="0" name="CPUNumPhysicalCores" type="xs:int" />
      <xs:element minOccurs="0" name="HostName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RunningProcesses" nillable="true" type="tns:Processes" />
      <xs:element minOccurs="0" name="RunningServices" nillable="true" type="tns:Services" />
      <xs:element minOccurs="0" name="SystemUpTime" type="ser:duration" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Computer" nillable="true" type="tns:Computer" />
  <xs:complexType name="Processes">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="Processes" nillable="true" type="tns:Processes" />
  <xs:complexType name="Services">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="Services" nillable="true" type="tns:Services" />
</xs:schema>