HorusAdmin/Service References/Horus/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServerAdminService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IServerAdminService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/HorusShared.ComputerObjects" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServerAdminService_GetClients_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClients" />
  </wsdl:message>
  <wsdl:message name="IServerAdminService_GetClients_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientsResponse" />
  </wsdl:message>
  <wsdl:message name="IServerAdminService_StartRemoteProcess_InputMessage">
    <wsdl:part name="parameters" element="tns:StartRemoteProcess" />
  </wsdl:message>
  <wsdl:message name="IServerAdminService_StartRemoteProcess_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartRemoteProcessResponse" />
  </wsdl:message>
  <wsdl:message name="IServerAdminService_GetHostName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHostName" />
  </wsdl:message>
  <wsdl:message name="IServerAdminService_GetHostName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHostNameResponse" />
  </wsdl:message>
  <wsdl:message name="IServerAdminService_GetComputer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetComputer" />
  </wsdl:message>
  <wsdl:message name="IServerAdminService_GetComputer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetComputerResponse" />
  </wsdl:message>
  <wsdl:portType name="IServerAdminService">
    <wsdl:operation name="GetClients">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerAdminService/GetClients" message="tns:IServerAdminService_GetClients_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerAdminService/GetClientsResponse" message="tns:IServerAdminService_GetClients_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartRemoteProcess">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerAdminService/StartRemoteProcess" message="tns:IServerAdminService_StartRemoteProcess_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerAdminService/StartRemoteProcessResponse" message="tns:IServerAdminService_StartRemoteProcess_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHostName">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerAdminService/GetHostName" message="tns:IServerAdminService_GetHostName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerAdminService/GetHostNameResponse" message="tns:IServerAdminService_GetHostName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetComputer">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerAdminService/GetComputer" message="tns:IServerAdminService_GetComputer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerAdminService/GetComputerResponse" message="tns:IServerAdminService_GetComputer_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IServerAdminService" type="tns:IServerAdminService">
    <wsp:PolicyReference URI="#NetTcpBinding_IServerAdminService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetClients">
      <soap12:operation soapAction="http://tempuri.org/IServerAdminService/GetClients" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartRemoteProcess">
      <soap12:operation soapAction="http://tempuri.org/IServerAdminService/StartRemoteProcess" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHostName">
      <soap12:operation soapAction="http://tempuri.org/IServerAdminService/GetHostName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetComputer">
      <soap12:operation soapAction="http://tempuri.org/IServerAdminService/GetComputer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServerAdminService">
    <wsdl:port name="NetTcpBinding_IServerAdminService" binding="tns:NetTcpBinding_IServerAdminService">
      <soap12:address location="net.tcp://localhost:12000/ServerAdminService/ServerAdminService/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:12000/ServerAdminService/ServerAdminService/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>